<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="row">
    <div class="col-md-6">
        <img  class="img-thumbnail img-responsive center-block" src="http://localhost/spc/assets/uploads-files/founder3.jpg?1466603001672" alt="" />
        <p class="text-center">นายแพทย์สุชาติ  วงศ์เกียรติขจร  แพทย์ศาสตร์บัณฑิต (เกียรตินิยม)  มหาวิทยาลัยเชียงใหม่ </p>
    </div>
    <div class="col-md-6">
        <img class="img-thumbnail img-responsive center-block"  src="http://localhost/spc/assets/uploads-files/founder1.jpg?1466603046472" alt=""  />
        <p class="text-center">นางสาว พนิดา  วงศ์เกียรติขจร  วิทยาศาสตร์มหาบัณฑิต มหาวิทยาลัยเกษตรศาสตร์    </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img class="img-thumbnail img-responsive center-block" src="http://localhost/spc/assets/uploads-files/founder4.jpg?1466603081864" alt="" />
        <p class="text-center">นายวิบูลย์  ชัยนันท์  ครุศาสตร์บัณฑิต  จุฬาลงกรณ์มหาวิทยาลัย </p>
    </div>
    <div class="col-md-6">
        <img class="img-thumbnail img-responsive center-block"  src="http://localhost/spc/assets/uploads-files/founder2.jpg?1466603107064" alt=""  />
        <p class="text-center">นายฉัตรบดินทร์  ชัยนันท์  วิทยาศาสตร์บัณฑิต (เกียรตินิยม) หลักสูตรนานาชาติ  จุฬาลงกรณ์มหาวิทยาลัย      </p>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <img  class="img-thumbnail img-responsive center-block" src="http://localhost/spc/assets/uploads-files/founder3.jpg?1466603001672" alt="" />

    </div>
    <div class="col-md-6">
        <img class="img-thumbnail img-responsive center-block"  src="http://localhost/spc/assets/uploads-files/founder1.jpg?1466603046472" alt=""  />

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img class="img-thumbnail img-responsive center-block" src="http://localhost/spc/assets/uploads-files/founder4.jpg?1466603081864" alt="" />

    </div>
    <div class="col-md-6">
        <img class="img-thumbnail img-responsive center-block"  src="http://localhost/spc/assets/uploads-files/founder2.jpg?1466603107064" alt=""  />
    </div>
</div>


</body>
</html>