@font-face {
    font-family: 'CSChatThaiUI';
    src: url('../fonts/CSChatThaiUI.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CSChatThaiUI.woff') format('woff'),
    url('../fonts/CSChatThaiUI.ttf') format('truetype'),
    url('../fonts/CSChatThaiUI.svg#CSChatThaiUI') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    min-height: 100%;
}

.layout-boxed html,
.layout-boxed body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'CSChatThaiUI', Leelawadee, Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}

.panel-heading p {
    font-size: 18px;
    font-weight: bold;
}
