/* Sticky footer styles
-------------------------------------------------- */
/*html {*/
/*position: relative;*/
/*min-height: 100%;*/
/*}*/
/*body {*/
/*/!* Margin bottom by footer height *!/*/
/*margin-bottom: 100px;*/
/*}*/
/*.footer {*/
/*position: absolute;*/
/*bottom: 0;*/
/*width: 100%;*/
/*/!* Set the fixed height of the footer here *!/*/
/*height: 60px;*/
/*background-color: #f5f5f5;*/
/*}*/

/*/!* Custom page CSS*/
/*-------------------------------------------------- *!/*/
/*/!* Not required for template or sticky footer method. *!/*/

/*.main_container {*/
/*width: auto;*/
/*max-width: 680px;*/
/*padding: 0 15px;*/
/*}*/
/*.main_container .text-muted {*/
/*margin: 20px 0;*/
/*}*/

body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}

.main_container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.main_container .text-muted {
    margin: 20px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    padding: 2em 0;
    background-color: #3b444b;
}

